* {
    box-sizing: border-box;
}

body {
    background-color: rgb(22, 22, 22);
    font-family: optima, "Book Antiqua", Palatino, serif;
    opacity: 80%;
    font-size: 20px;
    text-align: center;
    color: whitesmoke;
    padding-top: 20px;
}


p {
    font-size: medium;
    padding: 0 30px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: medium;
}

.hero-btn {
    display: inline-flex;
    justify-content: center;
}

.getin {
    width: 100%;
}

.main-head {
    display: inline-block;
    position: relative;
    width: 100%;
}

header {
    width: 100%;
    font-family: copperplate, "Book Antiqua", Palatino, serif;
    justify-content: center;
}

header h2 {
    font-weight: 130;
    font-size: 18px;
    text-align: center;
    display: inline-block;
}

.hero {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}

.top-img {
    display: none;
}

/* Typewriter Effect on header */
.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid rgb(255, 102, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .2em; /* Adjust as needed */
    animation: 
      typing 1.5s steps(20, end),
      blink-caret .85s step-end infinite;
}
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 76% }
}
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 102, 0); }
 }


.inline {
    display: inline-flex;
    padding: 0;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.inline li {
    padding: 5px;
}

header h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 0.8;
}

.hero-btn {
    background-color: rgb(0, 0, 0, 0.4);
    border: 2px solid rgb(255, 115, 0);
    color: rgb(255, 115, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
}

.hero-btn:hover {
    transition: 0.25s;
    background-color: rgb(0, 0, 0, 0.7);
    transform: scale(1.05);
    text-decoration: none;
    color: rgb(255, 115, 0);
}


ul {
    list-style-type: none;
}

.subheader {
    padding-top: 20px;
    display: none;
    font-size: 20px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid rgb(146, 146, 146);
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

.subheader a {
    text-decoration: none;
}

.subheader a:hover {
    color: rgb(255, 102, 0);
    border-bottom: 1px solid rgb(255, 102, 0);
    transition: ease all 1s;
}

.col-lg-2 {
    color: rgb(175, 175, 175);
}


.section-holder {
    width: auto;
    margin: 10px;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    height: 100%;
    min-height: 500px;
}

.fab {
    font-size: 20px;
    color: rgb(255, 102, 0, 0.85);
}

.fa-js {
    color: rgb(255, 235, 58);
}

.fa-html5 {
    color: rgb(255, 102, 0);
}

.fa-python {
    color: rgb(255, 235, 58);
}

.fa-git-alt {
    color: rgb(255, 102, 0);
}

.icon-contain .fab {
    font-size: 30px;
}

.icon-contain {
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}


.btn {
    padding-left: 60px;
    padding-right: 60px;
}

.dropdown {
    margin: 0 20px;

}

.dropdown-menu {
    width: 100%;
    text-align: center;
    background-color: rgb(29, 29, 29);
}

.dropdown-item {
    color: whitesmoke;
}



.container-fluid {
    padding: 0;
}

#cami {
    width: 50%;
    height: auto;
    padding: 10px 0;
    border-radius: 7%;
    margin-bottom: 20px;
}

#koda {
    padding: 10px 5px;
    width: 30%;
    height: auto;
    margin: 20px 0;
    border-radius: 7%;
}

.aboutContain {
    margin-bottom: 40px;
}



/* Project text over image */
#run-buddy {
    background: url("../images/run.png");
    background-repeat: no-repeat;
    background-size: contain; 
    width: 340px;
    height: 180px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    padding: 0;
}

#weather-dashboard {
    background: url("../images/weather.png");
    background-repeat: no-repeat;
    background-size: contain; 
    width: 340px;
    height: 180px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    padding: 0;
}

#neoo {
    background: url("../images/nasa.png");
    background-repeat: no-repeat;
    background-size: contain; 
    width: 340px;
    height: 180px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    padding: 0;
}

.module header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 340px;
    padding: 10px 10px;
    background: inherit;
    background-attachment: fixed;
    overflow: hidden;
}

.module header a {
    color: white;
    font-size: 20px;
}

.module header::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 200%;
    background: inherit;
    background-attachment: fixed;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
.module > header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7)
}
.module header h1 {
    margin: 0;
    color: white;
    position: relative;
    z-index: 1;
}

.btn {
      border: 1px solid rgb(255, 102, 0, 0.5);
      color: rgb(255, 102, 0);
}

.last-name {
    color: rgb(255, 102, 0, 0.85);
}

.contactContain {
    display: inline-block;
}

.form-control {
    margin: 10px auto;
    width: 70%;
}

.skillset {
    text-align: left;
    margin-top: 30px;
}

.skillset p {
    text-align: center;
    animation: 4.05s animate-skills;
    font-size: medium;
    padding: 0 30px;
}

.bar-graph {
    height: 20px;
    background-color: rgb(255, 102, 0);
    display: flex;
    margin-left: 20px;
    animation-name: animate-bar;
    animation-duration: 3s;
}

.htmlf {
    width: 70%;
}

.jsf {
    width: 90%;
}

.gitf {
    width: 80%;
}

.pythonf {
    width: 50%
}

.nodef {
    width: 75%;
}

/* Moving Icons + Bar Graph Skill Section */
.icon-contain {
    position: relative;
    animation-name: animate;
    animation-duration: 2.5s;
    margin: auto;
}

.icon-contain h5 {
    font-family: monospace;
    font-size: 14px;
    padding-left: 10px;
    color: black;
}

.one h5 {
    animation: 3s animate-skills;
}

.two h5 {
    animation: 3.25s animate-skills;
}

.three h5 {
    animation: 3.5s animate-skills;
}

.four h5 {
    animation: 3.75s animate-skills;
}

.five h5 {
    animation: 4s animate-skills;
}

.icon-contain::before {
    text-align: center;
}

.icon-contain i {
    text-align: left;
    display: flex;
}

@keyframes animate {
    0% {
        transform: translate(50%,0)
    }
    15% {
        transform: translate(53%,0);
    }
    100% {
        transform: translate(0,0);
        transform-origin: bottom left 60px;
    }
}
.icon-contain::after {
    text-align: left;
    justify-content: start;
}

@keyframes animate-bar {
    0% {
        width: 0;
    }
}

@keyframes animate-skills {
    0% {
        visibility: hidden;
    }
    93% {
        visibility: hidden;
    }
    94% {
        visibility: visible;
        transform: scale(0.8)
    }
    97% {
        transform: scale(1.15)
    }

    100% {
        visibility: visible;
    }
}

.section-holder .rel {
    font-size: 16px;
    clear: both;
    margin: 30px 10px;
}
.section-holder .left {
    text-align: left;
    float: left;
    width: 70%;
}

.section-holder .right {
    text-align: right;
    float: right;
    width: 70%;
}

.full {
    width: 95%;
    float: left;
    text-align: left;
}

.orange {
    color: rgb(255, 102, 0);
    border-bottom: 1px solid rgb(255, 102, 0);
}

.orange-t {
    color: rgb(255, 102, 0);
}

.containers {
    display: inline-block;
}

footer {
    width: 100%;
    height: auto;
    min-height: 60px;
    background-color: #494949;
  
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    padding: 0 20px;
}

.footer-text {
    color: black;
    margin: auto;
    vertical-align: middle;
    justify-content: center;
}

.footer-text a {
    color: rgb(255, 102, 0);
}

.footer-text a:hover {
    transition: 1s ease all;
    color: rgb(8, 255, 255);
    text-decoration: none;
}

.left-footer {
    float: left;
    margin: auto;
    color: black;
    vertical-align: auto;
}

.left-footer p {
    margin: 0;
}

.footer-links {
    vertical-align: middle;
    margin: auto;
    text-align: right;
}


@media only screen and (min-width: 768px) {
    body {
        padding-top: 0;
    }
    .subheader {
        padding-bottom: 0;
        display: inline-flex;
    }
    .main-head {
        color: rgb(255, 102, 0);
    }
    .main-head h1 {
        font-size: 40px;
    }
    .main-head h2 {
        font-size: 22px;
    }
    .containers {
        display: inline-flex;
        justify-content: center;
    }
    .top-img {
        width: 100%;
        opacity: 20%;
        height: 35rem;
        max-height: 35rem;
        min-height: 20rem;
        display: inline-block;
        margin-top: 0;
        position: relative;
    }
    .main-head {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
        text-align: center;
        color: rgb(255, 102, 0);
    }
    .fab {
        color: rgb(255, 102, 0);
        font-size: 28px;
        padding: 0 5px;
    }
    .skills-text {
        width: 50%;
        float: right;
    }
    .go-left {
        width: 50%;
        float: left;
    }
    .skillset p {
        animation: none;
    }
    .dropdown {
        display: none;
    }
    .aboutLeft {
        text-align: left;
        width: 50%;
        float: left;
    }
    
    .aboutRight {
        text-align: right;
        width: 60%;
        float: right;
        padding: 20px 0;
    }
    
    #cami {
        width: 45%;
        height: auto;
        padding: 10px;
        float: right;
        border-radius: 7%;
        margin-bottom: 20px;
    }
    
    #koda {
        padding: 10px;
        width: 30%;
        height: auto;
        float: left;
        margin: 20px 0;
        border-radius: 7%;
    }
}


/* Get skillset text completely vertically aligned */
/* Create a footer to make section part full-height */
/* Of course fix the typewriter animation */

/* Fix underline of projects */
/* Add Descriptions of languages used on projects */
/* Add Github API */