* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: optima, "Book Antiqua", Palatino, serif;
    opacity: 80%;
    font-size: 20px;
    text-align: center;
    color: black;
}
.main-head {
    display: inline-block;
}

header {
    width: 100%;
    font-family: copperplate, "Book Antiqua", Palatino, serif;
    justify-content: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
}

/* Typewriter Effect on header */
.typewriter h2 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid rgb(255, 102, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .2em; /* Adjust as needed */
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 102, 0); }
 }


.inline {
    display: inline-flex;
    padding: 0;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.inline li {
    padding: 5px;
}

header h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0 auto;
    line-height: 0.8;
}

header h2 {
    font-weight: 130;
    font-size: 18px;
    text-align: center;
    width: auto;
    display: inline-block;
}

ul {
    list-style-type: none;
}

.subheader {
    font-size: 20px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(146, 146, 146);
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

.subheader a {
    text-decoration: none;
}

a {
    color: black;
}
a:hover {
    color: rgb(255, 102, 0);
    border-bottom: 1px solid rgb(255, 102, 0);
    transition: ease all 1s;
    
}

.col-lg-2 {
    color: rgb(44, 44, 44);
}

.orange {
    color: rgb(255, 102, 0);
    border-bottom: 1px solid rgb(255, 102, 0);
}

.section-holder {
    width: auto;
    margin: 10px;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.fab {
    font-size: 20px;
    color: black;
}

.icon-contain {
    padding: 0;
    padding-bottom: 10px;
}

.skillset {
    justify-content: start;
}

.images {
    margin-bottom: 20px;
}

#cami {
    width: 66.5%;
}

#koda {
    width: 33.2%;
}

.hero {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 100%;
}

.btn {
    padding-left: 60px;
    padding-right: 60px;
}

.dropdown {
    margin: 0 20px;
}

.dropdown-menu {
    width: 100%;
    text-align: center;
}

.container-fluid {
    padding: 0;
}



/* Project text over image */
#run-buddy {
    background: url("../images/run.png");
    background-repeat: no-repeat;
    background-size: contain; 
    width: 340px;
    height: 180px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    padding: 0;
}

#weather-dashboard {
    background: url("../images/weather.png");
    background-repeat: no-repeat;
    background-size: contain; 
    width: 340px;
    height: 180px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    padding: 0;
}

  .module header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 340px;
    padding: 10px 10px;
    background: inherit;
    background-attachment: fixed;
    overflow: hidden;
  }

.module header a {
    color: white;
    font-size: 20px;
}

  .module header::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 200%;
    background: inherit;
    background-attachment: fixed;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  .module > header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7)
  }
  .module header h1 {
    margin: 0;
    color: white;
    position: relative;
    z-index: 1;
  }